*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#050505,#250000);
color:white;
text-align:center;
overflow-x:hidden;
}

header{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
}

h1{
font-size:3.5rem;
color:#ff2b2b;
}

section{
padding:80px 10%;
}

img{
width:260px;
border-radius:20px;
box-shadow:0 0 25px red;
margin-bottom:20px;
}

.fade{
opacity:0;
transform:translateY(60px);
transition:1s;
}

.show{
opacity:1;
transform:translateY(0);
}

canvas{
position:fixed;
top:0;
left:0;
z-index:-1;
}

footer{
background:black;
padding:20px;
}
