*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#000;
    color:white;
}

nav{
    position:fixed;
    width:100%;
    display:flex;
    justify-content:space-between;
    padding:20px 50px;
    background:black;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
}

.hero{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    background:linear-gradient(to right,#000,#1a0000);
}

.profile{
    width:220px;
    border-radius:15px;
    box-shadow:0 0 30px red;
}

.section{
    padding:120px 10%;
    text-align:center;
}

.card{
    background:#111;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(255,0,0,0.4);
    margin:20px auto;
    max-width:400px;
}

.card img{
    width:200px;
    border-radius:15px;
}

.cards-container{
    display:flex;
    justify-content:center;
    gap:40px;
    flex-wrap:wrap;
}

footer{
    text-align:center;
    padding:20px;
    background:black;
}
